*{
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000;
    color: aqua;
    overflow: hidden;
    margin: 0;
}

.container{
    width: 110vh;
    display: flex;
}

.image{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    position: relative;
    color: #000;
    cursor: pointer;
    flex: 0.3;
    margin: 10px;
    -webkit-transition: all 700ms ease-in;
    transition: all 700ms ease-in;
}

.image:hover{
    transform: scale(1.1);
}

.image h3{
    position: absolute;
    bottom: 20px;
    font-size: 24px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.image.active{
    flex: 5;
}

.image.active h3{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
    .container{
        width: 100vh;
    }
    .image:nth-of-type(4), .image:nth-of-type(5){
        display: block;
    }
}