* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #86c663;
    color: #312f2d;
    overflow-x: hidden;
    margin: 0;
}

.container {
    background-color: #84ebc6;
    transform-origin: top left;
    transition: transform 0.5s linear;
    width: 100vw;
    min-height: 100vh;
    padding: 50px;
}

.container.show-nav {
    transform: rotate(-20deg);
}

.circle-container {
    position: fixed;
    top: -100px;
    left: -100px;
}

.circle {
    background-color: #ed7227;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    transition: transform 0.5s linear;
}

.container.show-nav .circle {
    transform: rotate(-80deg);
}

.circle button {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    background: transparent;
    border: 0;
    font-size: 26px;
    color: #312f2d;
}

.circle button:focus {
    outline: none;
}

.circle button#open {
    left: 60%;
}

.circle button#close {
    top: 60%;
    transform: rotate(85deg);
    transform-origin: top left;
}

.container.show-nav + nav li {
    transform: translateX(0);
    transition-delay: 0.3s;
}

nav {
    position: fixed;
    bottom: 40px;
    left: 0;
    z-index: 100;
}

nav ul {
    list-style-type: none;
    padding-left: 30px;        /* to align the list properly */
}

nav ul li {
    text-transform: uppercase;
    color: #312f2d;
    margin: 40px 0;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in;
}

nav ul li i {
    font-size: 20px;
    margin-right: 10px;
}

nav ul li + li {                        /* have created seperate ones as they will need to be properly formatted*/
    margin-left: 15px;
    transform: translateX(-150%);
}

nav ul li + li + li {
    margin-left: 30px;
    transform: translateX(-200%);
}

nav a{
    color: #312f2d;
    text-decoration: none;
    transition: all 0.5s;
}

nav a:hover {
    color: #ed7227;
    font-weight: bold;
}

.info img {
    max-width: 100%;    /* to align the image properly in the frame */
}

.info {
    max-width: 1000px;
    margin: 0;
    margin: 50px auto;
    line-height: 1.5;
}